html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: lightgrey;
}


/** pop up window */
#popUpWindow{
    display: none;
    position: fixed;
    z-index: 1;
    left: calc(50% - 200px);
    top: calc(50% - 150px);
    background-color: whitesmoke;
    width: 400px;
    height: 260px;
    padding: 10px;
    border-radius: 10px;
}

.match_time{
    width: 100px;
    margin-top: 10px;
    margin-right: 5px;
}

#create_match_team_select{
    width: 283px;
}

.datepicker{
    margin-top: 10px;
    height: 25px;
    width: 100px;
    font-size: 14px;
}

/** header */
#header{
    position: fixed;
    height: 44px;
    width: 100%;
    background-color: darkgreen;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

#logo{
    display: inline-block;
    margin-left: 10px;
    margin-top: 8px;
    width: 28px;
    height: 28px;
    vertical-align: top;
}

#find_player{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box; /** I love this */
    margin-top: 8px;
    margin-left: 4px;
    height: 28px;
    width: calc(34% - 32px);
    padding: 2px;
}

#user_info{
    margin-top: 5px;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
}

#user_info:hover{
    background-color: green;
}

#user-avatar{
    vertical-align: middle;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: rgba(236, 240, 241,1.0);
    border: 2px solid rgb(236, 240, 241);
    display: inline-block;
    overflow: hidden;
}

#message_icon{
    display: inline-block;
    color: white;
    outline: none;
    border: none;
    background-color: darkgreen;
    font-size: 12px;
    height: 30px;
    margin-left: 90px;
}

#message_icon:hover{
    background-color: green !important;
}

#notification_icon{
    display: inline-block;
    color: white;
    outline: none;
    border: none;
    background-color: darkgreen;
    font-size: 12px;
    height: 30px;
    margin-left: 5px;
}

#notification_icon:hover{
    background-color: green !important;
}
/** header */

/** map */
#map{
    position: absolute;
    top: 60px;
    left: calc(35% + 4px);
    width: 50%;
    height: 55.5%;
}

/**havent done the fixing. Do it later*/
#search_box{
    display: block;
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    color: #212121;
    border-radius: 4px;
    margin-left: 15px;
    margin-top: 15px;
    background: url("/static/images/icons/search_icon.png") no-repeat white 5px 8px;
    padding-left: 33px;
}
/** map */

/** appointment info table*/
#appointment-info{
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    margin-left: 10px;
    width: 34%;
    background-color: whitesmoke;
}

#matchup-filter{
    vertical-align: top;
    background: url('/static/images/icons/search_icon.png') 5px 5px no-repeat;
    display: inline-block;
    outline: 0;
    width: 40%;
    height: 100%;
    margin-left: 15px;
    padding-left: 35px;
}

#pin{
    vertical-align: top;
    padding-bottom: 0;
    padding-top: 0;
    display: inline-block;
    width: 25px;
    height: 36px;
    outline: 0;
    border: none;
    margin-left: 4%;
}

.pin{
    background: url("/static/images/icons/pin_green.png") no-repeat whitesmoke;
}

.unpin{
    background: url("/static/images/icons/pin_gray.png") no-repeat whitesmoke;
}

#create_match{
    background-color: limegreen;
    color: white;
    float: right;
    margin-right: 15px;
    height: 100%;
    width: 20%;
    border: none;
    outline: none;
    font-weight: bold;
}

#tablehead{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

#forward-button{
    position: absolute;
    left: 94%;
    top: 40%;
    width: 35px;
    height: 35px;
    visibility: hidden;
}

#backward-button{
    position: absolute;
    left: 0;
    top: 40%;
    width: 35px;
    height: 35px;
    visibility: hidden;
}

#appointment-content{
    display: block;
    width: 100%;
    height: calc(50% - 46px);
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

#field-image{
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

#appointment-content .matchup{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
}

.avatar{
    margin-left: 5px;
    width: 36px;
    height:36px;
    border-radius: 50%;
    background-color: rgba(236, 240, 241,1.0);
    border: 5px solid rgb(236, 240, 241);
    display: inline-block;
    overflow: hidden;
}

.username{
    font-size: 16px;
}

.team{
    font-size: 16px;
    color: darkslategrey;
}

.time{
    font-size: 16px;
}

.comment{
    font-size: 14px;
}

.join{
    background: url('/static/images/icons/soccer-ball-green.png') no-repeat;
}

.joinButton{
    width: 26px;
    height: 26px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    outline: none !important;
    border: 0 !important;
}

.unjoin{
    background: url('/static/images/icons/soccer-ball-grey.png') no-repeat;
}

.team_option{
    outline: 0;
    border: none;
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.team_select{
    outline: 0;
    border: none;
    width: 80%;
    max-width: 230px;
}

.requestNum{
    font-size: 16px;
    color: darkslategray;
    vertical-align: middle;
}

.highlight:hover{
    color: green;
    text-decoration: underline;
}

/** appointment info table*/

/**friend list */

#friendlist{
    border-left-color: gray;
    border-left-style: solid;
    border-left-width: 1px;
    position: absolute;
    left: 86vw;
    top: 44px;
    height: calc(100% - 44px);
    width: 14vw;
    background: lightgrey;
}


#friendlist > ul{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#friendlist > ul > li{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    line-height: 32px;
}

#friendlist > ul > li:hover{
    background-color: lightslategrey;
}

#friendlist .dd .ddTitle .ddTitleText{
    padding:5px 20px 5px 5px;
}

#friendlist .dd{
    width: 14vw !important;
}

#friendlist .fnone{
    height: 30px;
}

.friend-avatar{
    vertical-align: middle;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(236, 240, 241,1.0);
    border: 2px solid rgb(236, 240, 241);
    display: inline-block;
    overflow: hidden;
}

.friend-name{
    vertical-align: middle;
}

.friend-online-ic{
    float: right;
    vertical-align: middle;
    margin-right: 5px;
    width: 8px;
    height: 8px;
}

.top-of-friendlist{
    display: block;
    height: 50px;
}

.selectFriendList{
    width: 100%;
    height: 100%;
}

.top-of-friendlist > option{
    width: 100%;
    height: 50px;
}
/**friend list */