body{
    margin: 0;
    padding: 0;
	background-size: contain;
	background: url("/static/images/other/soccerfield.jpg") no-repeat;
}

.box{
	display: block;
	margin: auto;
    overflow: hidden;
	width:100%;
	padding: 10px;
	max-width: 550px;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: rgba(0, 0, 0, 0.2);
    margin-top: 4%;
}

.input-group{
	font-size: 20px;
	padding: 30px 10px 5px 10px;
	position: relative;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: rgba(0,0,0,0.1);
}


.input-group > input{
	color: white;
	border: none;
	outline: none;
	display: block;
	font-weight: 300;
	letter-spacing: 1px;
	background-color: transparent;
	font-size: 16px;
	width: 100%;
}

.input-group > label{
    opacity: 0.7;
	position: absolute;
	letter-spacing: 2px;
	pointer-events: none;
	transition: all 0.2s ease-in;
	color: white;
	font-weight: bold;
}

.active{
    top: 5px;
    left: 5px;
    font-size: 16px;
}


.nonactive{
    top: 30px !important;
	left: 10px !important;
    font-size: 20px;
}

#the_form{
    margin-top: 25px;
	display: block;
}

#the_form > input[type="submit"]{
	display: inline-block;
    border: none;
    float: right;
    outline: none;
	padding: 10px;
	font-weight: 600;
    font-size: 20px;
	border-radius: 2px;
	letter-spacing: 1px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.2);
	transition: all 0.2s ease-in;
    color: yellow;
}

#the_form > input[type="submit"]:hover{
    outline: 1px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.highlight:hover{
	color: whitesmoke;
	text-decoration: underline;
}

.highlight2:hover{
	color: blue;
}
