<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Prisley</title>
        <link rel="shortcut icon" href="../static/images/other/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/stylesheets/home.css">
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/dd.css"/>
        <link rel="stylesheet" type="text/css" href="/static/stylesheets/pikaday.css">
    </head>
    <body>
        <div id="header">
            <img id="logo" src="../static/images/other/logo2.png">
            <input id="find_player" type="text" placeholder="Search for Player">
            <div id="user_info" onclick="redirect('/{{ username }}')">
                <img id="user-avatar" src="../static/images/avatars/{{ user_avatar }}">
                <span style="margin-top: 7px; color: white; font-weight: bold; vertical-align: middle">{{ username }}</span>
            </div>
            <button id="message_icon">Messages</button>
            <button id="notification_icon">Notifications</button>
        </div>
        <input type="text" placeholder="Find Soccer Field" id="search_box" class="control">
        <div id="popUpWindow"></div>
        </div>
        <div id="appointment-info">
            <div id="tablehead">
                <div style="margin: 0; background-color: green; color: white; width: 100%;">
                    <span style="font-size: 25px; font-weight: 400; display: block; font-family: 'Noto Sans CJK SC Bold';padding-top: 15px; height: 25px;"><center id="field_name">{{ field.field_name }}</center></span>
                    <br>
                    <span style="font-size: 15px; display: block; padding-bottom: 20px; height: 20px; font-family: 'Noto Sans CJK SC"><center id="field_hour">Open: {{ field.open_time }} Close: {{ field.close_time }}</center></span>
                </div>
                <div style="padding: 15px 15px 15px 15px">
                    <button id="forward-button" onmouseover="forwardPic()"></button>
                    <butdton id="backward-button" onmouseover="backwardPic()"></butdton>
                    <img id="field-image" src="/static/images/stadiums/2/1.jpg">
                </div>
            </div>
            <div style="padding-bottom: 10px;">
                <input type="text" id="matchup-filter" onkeyup="filterMatchUp()">
                {% if field.is_pinned == False %}
                    <button id="pin" onclick="pin_unpin()" class="unpin"></button>
                {% else %}
                    <button id="pin" onclick="pin_unpin()" class="pin"></button>
                {% endif %}
                <button id="create_match" onclick="createMatch('{{ field.field_name }}')">CREATE MATCH</button>
            </div>
            <ul id="appointment-content" data-field-id="{{ field.field_id }}">
                {% for match_up in match_up_list %}
                    <li class="matchup">
                        <div style="display: inline-block; width: 10%;">
                            <img class="avatar" src="/static/images/avatars/{{ match_up.avatar }}">
                        </div>
                        <div style="display: inline-block; height: 100%; width: 90%; float: right;">
                            <div style="margin-bottom: 7px;">
                                <span class="username highlight">{{ match_up.username }}</span>
                                <span style="color: darkslategray; margin-left: 5px; margin-right: 5px">&bull;</span>
                                <span class="team highlight">@{{ match_up.team }}</span>
                                <span style="color: darkslategray; margin-left: 5px; margin-right: 5px">&bull;</span>
                                <span class="time">{{ match_up.time }}</span>
                            </div>
                            <div class="comment">
                                {{ match_up.comment }}
                            </div>
                            <div style="margin-top: 8px;">
                                <select class="team_select" onchange="selectTeam(this,{{ match_up.match_id }})">
                                    {% for team in user_teams %}
                                        <option data-image="/static/images/team_logos/{{ team.team_logo }}" class="team_option" value="{{team.team_id}}">
                                            {{ team.team_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if match_up.is_joined == False %}
                                    <img class="joinButton unjoin" onclick="join_unjoin(this)" data-match-id="{{ match_up.match_id }}">
                                {% else %}
                                    <img class="joinButton join" onclick="join_unjoin(this)" data-match-id="{{ match_up.match_id }}">
                                {% endif %}
                                <span class="requestNum">{{ match_up.request_num }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="map"></div>
        <div id="friendlist">
            <ul>
                <div class="top-of-friendlist">
                    <select class="selectFriendList">
                        {% for team in user_teams %}
                            <option data-image="/static/images/team_logos/{{ team.team_logo }}" value="{{ team.team_id }}">
                                {{ team.team_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <li>
                    <img class="friend-avatar" src="/static/images/avatars/stephen_colbert.jpg">
                    <span class="friend-name">Michael Jordan</span>
                    <img class="friend-online-ic" src="/static/images/icons/green-icon.png">
                </li>
                <li>
                    <img class="friend-avatar" src="/static/images/avatars/jon_oliver.jpg">
                    <span class="friend-name">Marco Reus</span>
                    <img class="friend-online-ic" src="/static/images/icons/green-icon.png">
                </li>
            </ul>
        </div>

        <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqZ1KhjHivqFTdGHLWdLGh-Pfy-B93opA&callback=initMap&libraries=places"></script>
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/jquery.dd.min.js" type="text/javascript"></script>
        <script src="../static/javascript/pikaday.js"></script>
        <script type="text/javascript" src="../static/javascript/home.js"></script>
        <script language="javascript">
            $(document).ready(function (e) {
                try {
                    $("body select").msDropDown();
                } catch (e) {
                    alert(e.message);
                }
            });
        </script>
    </body>
</html>