<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
		<title>Prisley</title>
		<link rel="stylesheet" href="../static/stylesheets/login_signup.css">
        <link rel="shortcut icon" href="../static/images/other/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Monoton" rel="stylesheet">
	</head>
    <body>
        <div class="box" style="margin-top: 10%;">
            <span style="color: lawngreen; font-size: 50px; font-family: 'Monoton', cursive;"><center>prisley</center></span>
            <span style="color: yellow; font-size: 30px; font-weight: 200; font-family: 'Pacifico', cursive;"><center>Play it with your heart</center></span>

            <form id="the_form" method="POST" action="{{ url_for('login') }}" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="text" id="username" class="tabable" autocomplete="off" onblur="checkInput(this, 'username_label')" onclick="onFocus('username_label')" tabindex="1" name="username">
                    <label id="username_label" class="nonactive">Username or Email</label>
                </div>
                <div class="input-group">
                    <input type="password" id="password" class="tabable" onblur="checkInput(this, 'password_label')" onclick="onFocus('password_label')" tabindex="3" name="password">
                    <label id="password_label" class="nonactive">Password</label>
                </div>
                <p style="font-weight: bold; margin-bottom: 0;" class="highlight2">Login with Facebook</p>
                <p style="font-weight: bold; display: inline-block; text-decoration: underline; margin-top: 0;" class="highlight" onclick="redirect('/signup')">Doesn't have an account? Sign up</p>
                <input type="submit" value ="Login">
            </form>
        </div>
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/javascript/login_signup.js"></script>
	</body>
</html>


