<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prisley</title>
    <link rel="shortcut icon" href="../static/images/other/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/stylesheets/home.css">
</head>
<body>
    <div id="header">
        <img id="logo" src="../static/images/other/logo2.png">
        <input id="find_player" type="text" placeholder="Search for Player">
        <div id="user_info">
            <img id="user-avatar" src="../static/images/avatars/{{ user_avatar }}">
            <span style="margin-top: 7px; color: white; font-weight: bold; vertical-align: middle">{{ username }}</span>
        </div>
        <button id="message_icon">Messages</button>
        <button id="notification_icon">Notifications</button>
    </div>
    <input type="text" placeholder="Find Soccer Field" id="search_box" class="control">
    <div id="appointment-info">
        <div id="tablehead">
            <div style="margin: 0; background-color: green; color: white; width: 100%;">
                <span style="font-size: 25px; font-weight: 400; display: block; font-family: 'Noto Sans CJK SC Bold';padding-top: 15px; height: 25px;"><center id="field_name">San Bong PVV</center></span>
                <br>
                <span style="font-size: 15px; display: block; padding-bottom: 20px; height: 20px; font-family: 'Noto Sans CJK SC"><center id="field_hour">Open: 6h Close: 12h</center></span>
            </div>
            <div style="padding: 15px 15px 15px 15px">
                <button id="forward-button" onmouseover="forwardPic()"></button>
                <butdton id="backward-button" onmouseover="backwardPic()"></butdton>
                <img id="field-image" src="/static/images/stadiums/bernabeu/1.jpg">
            </div>
        </div>
        <div style="padding-bottom: 10px;">
            <input type="text" id="matchup-filter" onkeyup="filterMatchUp()">
            <button id="pin" onclick="pin_unpin()" class="unpin"></button>
        </div>
        <ul id="appointment-content">
            <li>
                <div style="display: inline-block; width: 10%;">
                    <img class="avatar" src="/static/images/avatars/messi.jpg">
                </div>
                <div style="display: inline-block; height: 100%; width: 90%; float: right;">
                    <div style="margin-bottom: 7px;">
                        <span class="username highlight">Lionel Messi</span><span style="color: darkslategray; margin-left: 5px; margin-right: 5px">&bull;</span><span class="team highlight">@Barcelona</span><span style="color: darkslategray; margin-left: 5px; margin-right: 5px">&bull;</span><span class="time">22h-24h</span>
                    </div>
                    <div class="comment">
                        Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name is Manh Hi my name
                    </div>
                    <div style="margin-top: 8px;">
                        <img class="joinButton unjoin" onclick="join_unjoin(this, -1)">
                        <span class="requestNum">0</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div id="map"></div>
    <div id="friendlist">
        <ul>
            <li id="top-of-friendlist"></li>
            <li>
                <img class="friend-avatar" src="/static/images/avatars/stephen_colbert.jpg">
                <span class="friend-name">Michael Jordan</span>
                <img class= "friend-online-ic" src="/static/images/icons/green-icon.png">
            </li>
            <li>
                <img class="friend-avatar" src="/static/images/avatars/jon_oliver.jpg">
                <span class="friend-name">Marco Reus</span>
                <img class="friend-online-ic" src="/static/images/icons/green-icon.png">
            </li>
        </ul>
    </div>

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqZ1KhjHivqFTdGHLWdLGh-Pfy-B93opA&callback=initMap&libraries=places"></script>
    <script src="../static/javascript/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/javascript/home.js"></script>
</body>
</html>