<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
		<title>Prisley</title>
		<link rel="stylesheet" href="../static/stylesheets/login_signup.css">
        <link rel="shortcut icon" href="../static/images/other/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Pacifico|Monoton" rel="stylesheet">
	</head>
    <body>
        <div class="box">
            <span style="color: lawngreen; font-size: 50px; font-family: 'Monoton', cursive;"><center>prisley</center></span>
            <span style="color: yellow; font-size: 30px; font-weight: 200; font-family: 'Pacifico', cursive;"><center>Play it with your heart</center></span>

            <form id="the_form" ction="{{ url_for('sign_up') }}" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="text" id="username" class="tabable" autocomplete="off" onblur="checkInput(this, 'username_label')" onclick="onFocus('username_label')" tabindex="1" name="username">
                    <label id="username_label" class="nonactive">Username</label>
                </div>
                <div class="input-group">
                    <input type="text" id="email" class="tabable" onblur="checkInput(this, 'email_label')" onclick="onFocus('email_label')" tabindex="2" name="email">
                    <label id="email_label" class="nonactive">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" id="password" class="tabable" onblur="checkInput(this, 'password_label')" onclick="onFocus('password_label')" tabindex="3" name="password">
                    <label id="password_label" class="nonactive">Password</label>
                </div>
                <div class="input-group">
                    <input type="password" id="re-password" class="tabable" onblur="checkInput(this, 're_password_label')" onclick="onFocus('re_password_label')" tabindex="4" name="re-password">
                    <label id="re_password_label" class="nonactive">Retype Password</label>
                </div>
                <p style="font-weight: bold; margin-bottom: 0;">By clicking Join now, you agree to the <span class="highlight">Prisley User Agreement</span>, <span class="highlight">Privacy Policy</span>, and <span class="highlight">Cookie Policy</span>.</p>
                <p style="font-weight: bold; display: inline-block; text-decoration: underline;" class="highlight" onclick="redirect('/login')">Already has an account? Login</p>
                <input type="submit" value ="Join now">
            </form>
        </div>
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../static/javascript/login_signup.js"></script>
	</body>
</html>


